@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: hsl(207, 26%, 17%);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 2px solid hsl(207, 26%, 17%);
  border-radius: 4px;
  transition: backgroun-color 0.2s;
}

.toggle :hover {
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  color: hsl(207, 26%, 17%);
}

.btn-light {
  background-color: hsl(209, 23%, 22%);
  border: 2px solid hsl(209, 23%, 22%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #202d36;
  color: #fff;
  transition: backgroun-color 0.4s;
}

body.light-theme {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: 2b3743;
  padding: 10px 20px;
}

header.light-theme {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.header i {
  cursor: pointer;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.form input,
.form select {
  background-color: hsl(209, 23%, 22%);
  padding: 12px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
}

.form input::placeholder {
  color: hsl(0, 0%, 100%);
}

.form input.light-theme,
.form select.light-theme {
  background-color: hsl(0, 0%, 52%);
}

.countries {
  padding: 0 50px 50px;
}

.countries article {
  transition: background-color 0.4s;
}

.countries .flag img {
  border-radius: 5px 5px 0 0;
}

.countries .details {
  border-radius: 0 0 5px 5px;
  background-color: hsl(209, 23%, 22%);
  margin: -10px 0 30px;
  padding: 20px;
  color: hsl(0, 0%, 100%);
  transition: background-color 0.4s;
}

.grid .details.light-theme {
  background-color: hsl(0, 0%, 98%) !important;
  color: "black";
}

.countries .details h4 {
  margin: 10px 0;
}

.countries .details h4 span {
  font-weight: 300;
}

/* filter */

.filter {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 20px;
}

.filter .form-control {
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-control input {
  background-color: #2b3743;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  /* width: 100%; */
  margin: 0 0 30px;
}

.filter .form-control input ::placeholder {
  color: #fff;
}

.filter .region-filter .select {
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 12px;
  /* width: 200px; */
  border: none;
  border-radius: 5px;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: ifr;
  gap: 40px;
  padding: 20px;
}

.grid article img {
  box-shadow: 0 10px 10px rgba(9, 17, 22, 0, 5);
}
.grid article img {
  border-radius: 5px 5px 0 0;
  /* height: 250px; */
}

.grid .details h3 {
  padding-bottom: 10px;
}

.grid .details h4 {
  padding-bottom: 5px;
}

.grid .details h4 span {
  font-weight: 300;
}

.grid .details {
  background-color: #2b3743;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 640px) {
  .filter {
    flex-direction: column;
  }
  .filter .region-filter {
    width: auto;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
  }
  .filter .form-control {
    /* width: auto; */
  }
  .filter .form-control input {
    /* width: auto; */
    margin: 0;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 640px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .countries .details {
    margin: -10px 0 0;
  }
}

@media (min-width: 992px) {
  .grid,
  .filter,
  .header {
    padding: 20px 100px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}

@media (min-width: 1366px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 20px;
    padding: 20px 0;
  }

  .form input {
    width: 90vw;
    margin-bottom: 20px;
  }

  .form .select select {
    width: 50vw;
  }
}
